.carousel-container {
    overflow: hidden;
    height: 440px;
    padding: 20px 0;
}

.slide-title {
    padding: 10px;
    margin-top: 30px;
}

.movie-slider {
    display: flex;
    justify-content: center;
  }